---
import Box from '../components/boxes/Box.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<Header />
	<div class="spacer" />
	<Hero />
	<div class="spacer" />
	<h1 class="title">Work</h1>
</Layout>

<style is:global>  
	body {
	  	font-family: 'Inter', sans-serif;
	}
	.spacer {
		margin-top: 100px;
	}
	.title {
		text-align: center;
		color: white;
	}

	@media (min-width: 768px) {
		.spacer {
			margin-top: 150px;
		}
	}
</style>