---
import Box from '../components/boxes/Box.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<Header />
	<div class="hero-spacer">
		<Hero />
	</div>
</Layout>

<style is:global>  
	body {
	  	font-family: 'Inter', sans-serif;
	}
	.hero-spacer {
		margin-top: 100px;
	}

	@media (min-width: 768px) {
		.hero-spacer {
			margin-top: 150px;
		}
	}
</style>