@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

span {
  color: rgb(255, 56, 56);
}

.title {
  font-family: "Inter", serif;
  font-size: 32px;
}

.subtitle {
  font-family: "Inter", serif;
  font-size: 21px;
}

a {
  text-decoration: dotted underline;
  color: white;
}

.description {
  color: #c5c5c5;
}

.links p {
  margin: 5px 0;
}

.new-section {
  padding-top: 125px;
}

.center {
  text-align: center;
}
