@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.title {
  font-family: "Inter", serif;
  font-size: 28px;
}

.description {
  text-align: justify;
  color: #c5c5c5;
}

.description a {
  color: #007acc;
}

.links {
  margin-top: 20px;
}

.links p {
  margin: 5px 0;
}

.links a {
  text-decoration: none;
  color: #007acc;
}

.links a:hover {
  text-decoration: underline;
}