.container {
    padding: 25px;
}

.title {
    font-family: "Inter", serif;
    font-size: 28px;
}

.description {
    color: #c5c5c5;
}

.description a {
    color: #007acc;
}

.links {
    margin-top: 20px;
}

.links p {
    margin: 5px 0;
}

.links a {
    text-decoration: none;
    color: #007acc;
}

.links a:hover {
    text-decoration: underline;
}
