---
import Box from "./boxes/Box.astro";
import Button from "./Button.astro";
---

<Box gridded={true}>
    <h1 class="title">Ready to talk?</h1>
    <div class="content">
        <p>Feel free to reach out so we can discuss how we can work together.</p>
        <Button url="mailto:fulopmilan170@gmail.com" flashy={true}>Let's connect!</Button>
    </div>
</Box>

<style>
    h1 {
        margin: 0px;
    }
    p {
        margin-bottom: 30px;
    }
    .content {
        margin: 0 auto;
        width: 400px;
        text-align: center;
        padding: 0px 0px 15px 0px;
    }
</style>
