.container {
    border-bottom: 1px solid white;
    background-color: #0a0a0a;
    position: sticky;
    top: 0;
    z-index: 1000;
    padding-top: 5px;
}

.buttonContainer {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.buttonContainer button {
    flex: 1;
    margin: 0;
    text-align: center;
    transition: background 0.3s ease;
    border: none;
    padding: 10px 0;
    color: white;
    background: transparent;
    font-size: 1rem;
    cursor: pointer;
}

